langchain-iris
testcontainers-iris
llama-iris
llama-index-legacy
sentence-transformers
langchain
fastembed 
openai 
tiktoken
python-dotenv
pandas
ipykernel
setuptools
numpy
tensorflow
opencv-python
mediapipe
librosa
scikit-learn
fastapi
uvicorn
python-multipart
intersystems-iris-native
face-recognition
speechrecognition
transformers
torch
pillow
plotly
dash
